<!DOCTYPE html>
<html>

<head>
  <title>虎鸥中心</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>虎鸥中心</h1>
  <hr>
  <a href="/fortofnumber">第1个创意</a>
  <hr>
  <a href="/fortofnumber2">第2个创意</a>
</body>

</html>