<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>虎鸥乐趣</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>虎鸥乐趣</h1>
  <hr>
  <a href="/fortofnumber">数字打飞机想法实现</a>
</body>

<footer style="position: fixed;bottom:0">
  <p>
    <a href="http://www.beian.miit.gov.cn" style="text-decoration:none;">
      <img data-src="/img/icon_gongan.png" class="ali-report-img" src="/img/icon_gongan.png"
        data-spm-anchor-id="a3c00.7621333.7y9jhqsfz.i0.4ba50Kzh0KzhAA">
      <span class="ali-report-link-text">湘ICP备16003381号</span>
    </a>
  </p>
</footer>

</html>